<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="static/homepage.css">
    <script src="static/homepage.js"></script>
</head>
<body>
    <!-- Nav bar   -->
  <nav>
    <div class="flex main-nav" style="width: 100%; margin-top: 0px;">
        <a href="#" class="company-logo img"><img src="static\logo-no-background.png"  alt="company-logo"></a>
        <div class="nav-links">
            <ul class="flex">
               
                <li><a href="/aboutus"class="hover-link">About Us</a></li>
                <li><a href="/faq"class="hover-link">FAQ's</a></li>
                <li><a href="#register"class="hover-link primary-button">Sign Up</a></li>
                <li><a href="#register"class="hover-link secondary-button">Log In</a></li>
              </ul>
        </div>
    </div>
</nav>

<!-- Header Image Part -->
<header>
    <div class="header-section flex"style="height: 700px;">
        <h1 class="header-text">Kaam-Khoj<br> काम खोज</h1>
    </div>
</header>


<!-- TWO CARDS TO CHOOSE  -->
<section class="option-section" id="register">
    <div class="container">
      <div class="option-area flex">
        <div class="option-card flex">
        <div class="icons flex">
            <div class="icon-left">
               <h2><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #e46600;"></i></h2>
            </div>
            <div class="icon-left">
                <h2><i class="fa-solid fa-helmet-safety fa-2xl" style="color: #e46600;"></i></h2>
            </div>
        </div>
        <div class="option-text-group">
        <h2 class="option-text">I am looking for a worker.</h2>
    </div>
        <div class="donate-button">
            <a href="/registerclient" class="secondary-button donate-buttons" style="width: 250px; height: 100px; margin-top: 100px; padding-top: 30px; color: #171717;">Click Here </i></a>
        </div>
        </div>
        <div class="option-card flex">
          <h2><i class="fa-solid fa-briefcase fa-2xl" style="color: #e46600;"></i></h2>
          <!-- <h2><i class="fa-solid fa-briefcase fa-flip fa-2xl" style="color: #e46600;"></i></h2> -->
          <div class="option-text-group">
          <h2 class="option-text">I am looking for Work</h2>
          <h2 class="option-text">मला काम हवे आहे</h2>
          <h2 class="option-text">मुझे काम चाहिए</h2>
        </div>
          <div class="donate-button">
          <a href="/registerworker" class="secondary-button donate-buttons" style="width: 250px; height: 100px; padding-top: 2px; color: #171717;">Click Here <br> हा बटण दाबा <br>ये बटन दबाय</i></a>
        </div>
    </div>
      </div>
    </div>
  </section>


  <!-- All the black box stuff -->
  <section class="features-section">
    <div class="container">
      <div class="features-header">
        <h1 class="features-heading-text">How it Works,कसे काम करते,कैसे काम करता है</h1>

      </div>
      <div class="features-area flex">
        <div class="features-card flex">
          <h1 class="icons"><i class="fa-solid fa-clipboard-list fa-2xl" style="color: #e46600;"></i></h1>
          <p class="feature-text"> Employeers will list jobs using the listing option and tell us what they require.</p>
          <p class="feature-text"> नियोक्ता सूची पर्याय वापरून नोकर्‍या तयार करतील आणि त्यांना काय आवश्यक आहे ते आम्हाला सांगतील.</p>
          <p class="feature-text"> नियोक्ता लिस्टिंग विकल्प का उपयोग करके नौकरियों का निर्माण करेगा और हमें बताएगा कि उन्हें क्या चाहिए।</p>
          </div>
        <div class="features-card flex">
          <h1 class="icons"><i class="fa-solid fa-address-card fa-2xl" style="color: #e46600;"></i></h1>
          <p class="feature-text"> A worker will apply for the job,and provide a Quotation for the job.</p>
          <p class="feature-text"> एक कामगार नोकरीसाठी अर्ज करेल,आणि नोकरीसाठी कोटेशन प्रदान करा.</p>
          <p class="feature-text"> एक कार्यकर्ता नौकरी के लिए आवेदन करेगा,और नौकरी के लिए एक कोटेशन प्रदान करें।</p>
        </div>
        <div class="features-card flex">
          <h1 class="icons"><i class="fa-solid fa-mobile-screen-button fa-2xl" style="color: #e46600;"></i></h1>
          <p class="feature-text">Employer will contact the worker on the website and Hire them for the required work.</p>
          <p class="feature-text">नियोक्ता वेबसाइटवरील कामगाराशी संपर्क साधेल आणि त्यांना आवश्यक कामासाठी नियुक्त करेल.</p>
          <p class="feature-text">नियोक्ता वेबसाइट पर कार्यकर्ता से संपर्क करेगा और आवश्यक कार्य के लिए उन्हें नियुक्त करेगा।</p>
        </div>
        <a href="#" class="get-started flex"> Get Started. <br> सुरु करूया <br> शुरू हो जाए</a>
      </div>
    </div>
  </section>

  <!-- Footer Section -->
  <footer>
    <div class="container flex footer-container">
      <a href="#" class="company-logo">
        <img src="static\logo-no-background.png" alt="company-logo">
        <p class="footer-text">*Kaam Khoj* is a platform for Mumbai <br>workers connect with Hirers<br>all across Mumbai to find jobs.</p>
        <p class="footer-text">*काम खोज* हे मुंबईकरांना नोकरी शोधण्यासाठी <br>संपूर्ण मुंबईतील मालकांशी संपर्क साधण्याचे <br>एक व्यासपीठ आहे.<br> </p>
        <p class="footer-text">*काम खोज* मुंबईकरों के लिए नौकरी खोजने <br> के लिए पूरे मुंबई के नियोक्ताओं से <br>जुड़ने का एक मंच है।</p>
      </a>
      <div class="link-coloumn flex">
        <h4>Pages</h4>
        <a href="homepage.html" class="hover-link footer-link">Home, घर, घर</a>
        <a href="about-us.html" class="hover-link footer-link">About Us , आमच्याबद्दल ,हमारे बारे में</a>
        <a href="faqs.html" class="hover-link footer-link">FAQs, प्रश्नोत्तरे,सवाल और जवाब</a>
        <a href="homepage.html" class="hover-link footer-link">How It Works, हे कसे काम करते, ये कैसे काम करता है</a>
      </div>

      <div class="link-coloumn flex">
        <h4>Made By</h4>
        <a href="https://github.com/ayeshanagdawala/" class="hover-link footer-link">Ayesha Nagdawala</a>
        <a href="https://github.com/meetalik8/" class="hover-link footer-link">Meetali Kapse</a>
        <a href="https://github.com/mamta137/" class="hover-link footer-link">Mamta Gupta</a>
        <a href="https://github.com/shagun6093/" class="hover-link footer-link">Shagun Gupta</a>
      </div>

    </div>
  </footer>
    <script src="https://kit.fontawesome.com/cb88b54bf5.js" crossorigin="anonymous"></script>  
</body>
</html>